:root {
  --main-title-color: #212121;
  --text-secondary-color: #757575;
  --background-title-color: #ffffff;
  --background-secondary-color: #2f303a;
  --link-btn-color: #2196f3;
  --adress-collor: rgba(255, 255, 255, 0.6);
  --logo-color: #000000;
  --background-team: #f5f4fa;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}
address {
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-title-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  /* outline: 2px solid red; */
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* -------------HEADER-------------- */

.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
}

.header-list {
  display: flex;
  column-gap: 50px;
}

.header-list-contacts {
  display: flex;
  gap: 30px;
  align-items: center;
}

.header-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--link-btn-color);
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-logo-span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  max-width: 145px;
  color: var(--logo-color);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}

.header-mail-link,
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-secondary-color);
  display: flex;
  padding-top: 2px;
  padding-bottom: 2px;
}

.header-item {
  position: relative;
}

.header-link:hover,
.header-link:focus {
  color: var(--link-btn-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-icon {
  display: inline;
  margin-right: 10px;
  fill: currentColor;
}

.header-mail-link:hover,
.header-mail-link:focus {
  color: var(--link-btn-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-tel:hover,
.header-tel:focus {
  color: var(--link-btn-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav {
  display: flex;
  margin-right: 318px;
  align-items: center;
}

.current {
  color: var(--link-btn-color);
}

.header-link.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  position: absolute;
  top: 47px;
}

/* -------------HERO-------------- */

.hero {
  background-color: var(--background-secondary-color);
  display: block;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../imges/Img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-title-color);
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
}
.hero-button {
  margin-top: 30px;
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--background-title-color);
  background-color: var(--link-btn-color);
  min-width: 216px;
  padding: 10px 32px 10px 32px;
  margin-left: auto;
  margin-right: auto;
  border: inherit;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* -------------peculiarities-------------- */

.peculiarities {
  background-color: var(--background-title-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.peculiarities-list {
  display: flex;
  gap: 30px;
}

.peculiarities-item {
  max-width: 270px;
}

.thumb {
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.peculiarities-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 10px;
}

.peculiarities-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-secondary-color);
}

/* -------------ABOUT-------------- */
.about {
  padding-bottom: 94px;
}

.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 50px;
}

.about-list {
  display: flex;
  justify-content: space-between;
}

.about-top {
  position: relative;
}

.about-top-text {
  position: absolute;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  transform: translateY(-100%);
  overflow: auto;
}

/* -------------team-------------- */

.team {
  background-color: var(--background-team);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-item {
  background-color: var(--background-title-color);
  border: transparent;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 50px;
  min-width: 264px;
}
.team-list {
  display: flex;
  justify-content: space-between;
}

.item-title {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-soc {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
}

.team-soc-link:hover,
.team-soc-link:focus {
  fill: #ffffff;
  background-color: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  min-width: 129px;
  margin-bottom: 10px;
}

.team-item-profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-secondary-color);
  min-width: 130px;
  margin-bottom: 16px;
}

/* -------------CLIENTS-------------- */

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.clients-link {
  fill: #afb1b8;
  width: 172px;
  height: 92px;
  display: flex;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  align-items: center;
}

.clients-link:hover,
.clients-link:focus {
  fill: #2196f3;
  border-color: #2196f3;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* -------------FOOTER-------------- */

.footer {
  background-color: var(--background-secondary-color);
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--link-btn-color);
  display: inline-block;
}

.footer-item-tel {
  margin-bottom: 9px;
}

.footer-logo-span {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--background-title-color);
}

.footer-adress {
  margin-top: 20px;
}

.footer-adress-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--background-title-color);
  max-width: 211px;
  margin-bottom: 9px;
}
.footer-adr {
  margin-bottom: 9px;
}

.footer-link,
.footer-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--adress-collor);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--link-btn-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-tel:hover,
.footer-:focus {
  color: var(--link-btn-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-adress-link:hover,
.footer-adress-link:focus {
  color: var(--link-btn-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-soc {
  display: block;
  justify-content: center;
  gap: 10px;
  align-items: center;
  margin-left: 70px;
}

.footer-soc-list {
  display: flex;
  gap: 10px;
}

.footer-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--link-btn-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription-footer {
  display: block;
  justify-content: center;
  align-items: flex-end;
  margin-left: 93px;
  width: auto;
  height: auto;
}

.subscription-button {
  display: flex;
  align-items: baseline
}

.subscription-text {
  top: 0;
  left: 0;
  margin-bottom: 20px;
  width: 207px;
  height: auto;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  
}

.subscription-input {
  width: 358px;
  height: 50px;
  background-color: var(--background-secondary-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
 margin-top: 20px;
}
  .subscription-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  padding: 10px 28px;

  width: auto;
  height: 50px;
  margin-left: 12px;
 }

 .subscription-icon {
  margin-left: 10px;
 }


/* ----------------BUTTONS--------------- */

.buttons-list {
  display: flex;
  column-gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.buttons-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  padding: 6px 22px;
  border: transparent;
  border-radius: 4px;
}

.buttons-btn:hover,
.buttons-btn:focus {
  color: var(--background-title-color);
  background-color: var(--link-btn-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current-button {
  color: var(--background-title-color);
  background-color: var(--link-btn-color);
}

/* ----------------WORKS--------------- */
.work-list {
  display: flex;
  flex-basis: calc((100%-60) / 3);
  flex-wrap: wrap;
  gap: 30px;
}

.works-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}

.works-item-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-secondary-color);
}

.works-border {
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 20px 24px 20px 24px;
}

.works-item-link {
  display: block;
}

.works-item-link:hover,
.works-item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works-item:hover .works-top-text {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works-top-wrap {
  position: relative;
  overflow: hidden;
}

.works-top-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  height: 100%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

/* ---------------------MODAL---------------------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 39px 40px 41px;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;

  color: #212121;
  text-align: center;
  margin-bottom: 12px;
}

.modal-form {
  margin: 0;
}

.input-wrap {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}

.form-input:focus {
  outline-color: #2196f3;
}

.form-input:focus + .input-icon {
  fill: #2196f3;
}

.input-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
  margin-bottom: 4px;
}

.coments-form {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  margin-bottom: 20px;
  padding: 12px 16px;
}

.agreement-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.chek-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
   color: var(--link-btn-color);
   margin-left: 5px;
 }

.agreement-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 3px;
  margin-right: 8.38px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.chek-icon {
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
 
.input-chek:checked + .agreement-text span {
background-color: var(--link-btn-color);
border-color: var(--link-btn-color);
}

.input-chek:checked + .agreement-text .chek-icon {
  fill: #ffffff ;
}

.input-chek:focus + .agreement-text span {
  border-color: var(--link-btn-color);
}

/* .agreement-text::before {
  content: " ";
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 3px;
  margin-right: 8.38px;
  transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/.input-chek:checked + .agreement-text::before {
background-color: var(--link-btn-color);
background-image: url(../imges/Chek-icon.svg);
background-repeat: no-repeat;
border: none;
background-position: center;
} */

.input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.form-butotn {
  display: flex;
  justify-content: center;
}
.form-btn {
  position: absolute;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  padding: 10px 52px;
  height: 50px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(-180deg);
}

.close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  right: 8px;
  top: 8px;
  padding: 0;
}

.hero-btn-close {
  fill: rgba(0, 0, 0, 1);
}


.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
